<?xml version="1.0" encoding="utf-8"?>
<Config>
  <Rules>
    <Rule Type="HideProperties" Enabled="true" Names="commissionPercentage" Users="" UserTypes="Partner" ContentIds="" ParentContentIds="" ContentTypes="" Description="Hide commission percentage for partners" />
  </Rules>
  <Scripts>
    <Script Name="example">console.log('Hello world');</Script>
  </Scripts>
</Config>