@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = null;
}

<!DOCTYPE html>
<html>
<head>
	<title>Website</title>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1">
	
	<link href='/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
	<link href='/css/main.css' rel='stylesheet' type='text/css'>
	<script src="/scripts/scripts.js"></script>
    
</head>
<body>
	
	@RenderBody()

</body>
</html>
